{% extends "base.html" %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="form-group" style="width: 40rem;">
      <div class="container my-4">
        <h4>Восстановление пароля завершено!</h4>
      </div>
      <div class="card-body">
        <p class="text-center">Ваш пароль был сохранен. Теперь вы можете войти.</p>
        <!-- <p class="text-center"><a href="{% url 'login' %}">Войти</a></p> -->
      </div>
      <div class="logger_out";>
        <a href="{% url 'login' %}">Войти</a>
      </div>
    </div>
  </div>
{% endblock %}