{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="form-group" style="width: 40rem;">
      <div class="container my-4">
        <h4>Восстановление пароля</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Поменять пароль" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}